*{
    margin: 0;
    padding: 0;
}

body{
    height: 700px;
    margin: 0;
    background: #333;
}

ul,li,i{
    list-style: none;
}

/* 标题 */
#title{
    width: 40%;
    height: 10%;
    position: absolute;
    left: 30%;
    font-size: 30px;
    color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
/* 上次更新时间 */
.timebox{
    width: 12%;
    position: fixed;
    top: 1%;
    left: 1%;
    text-align: center;
    font-size: 22px;
    color: #63cdda;
    z-index: 55;
}
/* 时间戳 */
#time{
    height: 8%;
    position: fixed;
    top: 5%;
    left: 1%;
    text-align: center;
    font-size: 20px;
    /*color: #ffffff;*/
    color: #63cdda;
    z-index: 56;
}

/* 主页右上角 */
.c1{
    width: 45%;
    height: 40%;
    position: absolute;
    top: 15%;
    right: 1%;
    text-align: center;
    color: #efefef;
}
.sl{
    position: absolute;
    top: 29%;
}
/* 各项新增div样式 */
.newdiv{
    width: 45%;
    height: 40%;
    position: absolute;
    top: 12%;
    right: 1%;
    text-align: center;
    color: #efefef;
}
.newdiv2{
    top:26%;
}
/* 数字 */
.num{
    width: 33%;
    float: left;
    font-size: 18px;
    color: #ffb142;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}

/* 数字介绍 */
.text{
    color: #d1ccc0;
}
/* 新增数字样式 */
.new{
    color: #a29bfe;
}
.new h4{
    font-size: 16px;
    color: #d13cc0;
}
/* 中国疫情地图 */
#c2{
    width: 90%;
    height: 99%;
    position: absolute;
    top:1%;
    left: -18%;
    text-align: center;
    font-size: 24px;
    color: #efefef;
    /*z-index:2;*/
}
/* 城市排行 */
#city{
    width: 48%;
    height: 55%;
    position: absolute;
    top: 40%;
    right: 2px;
    text-align: center;
    font-size: 24px;
    color: #efefef;
    z-index: 1;
}

/* 中国累计趋势 */
.chinaTrendDiv{
    width: 47%;
    height: 45%;
    position: absolute;
    top: 8%;
    left: 1%;
    text-align: center;
    font-size: 24px;
    color: #efefef;
    z-index: 20;
}
/* 中国新增确诊疑似趋势 */
#l2{
    top: 55%;
}
/* 中国累计境外输入、无症状感染者趋势 */
.chinaTrendDiv2{
    width: 47%;
    height: 45%;
    position: absolute;
    text-align: center;
    font-size: 24px;
    color: #efefef;
    z-index: 10;
    top: 8%;
    right: 1%;
}
/* 中国新增境外输入、无症状感染者趋势 */
#r2{
    top: 55%;
    right: 0%;
}

/* 世界疫情地图 */
#world{
    width: 100%;
    height: 99%;
    position: absolute;
    text-align: center;
    font-size: 24px;
}

/* 世界累计确诊趋势 */
#world_confirm{
    width: 39%;
    height: 50%;
    position: absolute;
    top: 8%;
    text-align: center;
    font-size: 16px;
}
/* 世界累计确诊趋势 */
#world_else{
    width: 39%;
    height: 45%;
    position: absolute;
    top: 54%;
    text-align: center;
    font-size: 16px;
}

/* 外国排行 */
#countryRank{
    width: 60%;
    height: 94.9%;
    position: absolute;
    top: 5%;
    right: 1%;
    text-align: center;
    font-size: 24px;
    color: #efefef;
}

/* 各页面跳转链接 */
a{
    text-decoration: none;
}
.tips{
    position: absolute;
    top: 4%;
    right: 5%;
    width: 400px;
    height: 80px;
    text-align: center;
    font-size: 22px;
    color: #f8c291;
    z-index:16;
}
/* 链接样式 */
.china{
    width: 100px;
    color: #63cdda;
    font-size: 20px;
    position: absolute;
    top:35%;
    text-align:left;
    left: 6%;
}
.chinaTrend{
    left: 28%;
}
.world{
    left: 54%;
}
.worldTrend{
    left: 79%;
}
.china:hover{
    color: #f8c291;
    transition: 0.6s;
}


