<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cov2019 world map</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/world.js"></script>
    <style>
        .tips{
            left: 1%;
            top: 48%;
        }
    </style>
</head>
<body>
    <div id="title">Cov2019全球疫情追踪</div>
    <div id='time'></div>
    <div id="world">世界地图</div>
    <div class="tips">
        更多疫情信息
        <a class='china' href="/">CHINA</a>
        <a class='chinaTrend china' href="china-trend">CTREND</a>
        <a class='world china' href="world">WORLD</a>
        <a class='worldTrend china' href="world-trend">WTREND</a>
    </div>
    <script src="../static/js/world-map.js"></script>
    <script src="../static/js/world-controller.js"></script>
</body>
</html>
