<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cov2019 world map</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/world.js"></script>
    <style>
        #title{
        }
        #time{
        }
    </style>
</head>
<body>
    <div id="title">Cov2019全球疫情追踪</div>
    <div id='time'></div>
    <div id="world">世界地图</div>
    <script src="../static/js/echart-world.js"></script>
    <script src="../static/js/controller.js"></script>
</body>
</html>
