<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cov2019 world trend</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/jquery.min.js"></script>
    <style>
        .tips{
            top: 2.5%;
            right: 11.8%;
        }
    </style>
</head>
<body>
    <div id="title">Cov2019国外疫情追踪</div>
    <div class="timebox">
        <div>上次更新时间</div>
        <div id='time'>上次更新时间</div>
    </div>
    <div id="world_confirm">世界累计确诊</div>
    <div id="world_else">世界累计治愈、死亡、新增</div>
    <div class="tips">
        更多疫情信息
        <a class='china' href="/">CHINA</a>
        <a class='chinaTrend china' href="china-trend">CTREND</a>
        <a class='world china' href="world">WORLD</a>
        <a class='worldTrend china' href="world-trend">WTREND</a>
    </div>
    <div id="countryRank">国外累计确诊排行</div>
    <script src="../static/js/world-trend-top-left.js"></script>
    <script src="../static/js/world-trend-bottom-left.js"></script>
    <script src="../static/js/world-trend-right.js"></script>
    <script src="../static/js/world-trend-controller.js"></script>
</body>
</html>
